body {
    display: flex;
    flex-direction: column;
    background-color: #eee;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a {
  outline: none;
  text-decoration: none;
}

.app {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100%;
    background-color: #ddd;
}

.header {
    display: flex;
    background-color: #ccc;
}

.header a {
    color: #333;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
}

.header a.active {
    color: #333;
    border-bottom-color: #333;
    border-bottom-width: 5px;
    border-bottom-style: inset;
    margin-right: 10px;
}

.header a:hover {
    color: #fff;
}

.main {
    padding: 15px;
}

.task-input input {
    width: 100%;
}

.task-list {
    margin-top: 15px;
}

.task-list .task-item {
    padding: 5px;
}
