body {
    display: flex;
    flex-direction: column;
    background-color: #eee;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:0px solid #BEBEBE;
    outline: none;
    border-radius: 2px;
}

textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:0px solid #BEBEBE;
    outline: none;
    border-radius: 2px;
}

a {
  outline: none;
  text-decoration: none;
}

.app {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100%;
    background-color: #ddd;
}

.header {
    display: flex;
    background-color: #ccc;
}

.header a {
    color: #333;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
}

.header a.active {
    color: #333;
    background-color: #aaa;
    border-bottom-color: #333;
    border-bottom-width: 3px;
    border-bottom-style: inset;
}

.header a:hover {
    color: #fff;
}

.controls button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    border:0px solid #BEBEBE;
    background-color: #bbb;
    outline: none;
    border-radius: 2px;
}

.controls button:hover {
    background-color: #aaa;
}

.controls button:active {
    background-color: #ccc;
}

.main {
    padding: 10px;
}

.task-list .task-item {
    margin-top: 10px;
    padding: 10px;
    background-color: #c7c7c7;
    border-radius: 2px;
}

.note-list .note-item {
    margin-top: 10px;
    padding: 10px;
    background-color: #c7c7c7;
    border-radius: 2px;
}

.note-text {
    margin-top: 10px;
}
