html {
    padding: 0px;
    margin: 0px;
}

body {
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.app {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
	margin: auto;
	background-color: #e7e7e7;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #333;
	color: #e7e7e7;
}

.nav-tasks, .nav-notes, .nav-home {
    padding: 20px;
}

.nav-tasks {
    background-color: #559;
}

.tasks {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.views {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #559;
    min-width: 200px;
    padding-top: 20px;
}

.view {
    color: #ddd;
    padding: 20px;
    border-radius: 3px 0px 0px 3px;
}

.task-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-input {
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 1em;
    outline: none;
    padding: 20px;
    background-color: #c7c7c7;
    border: none;
}

.task-item {
    display: flex;
    padding: 20px;
}

.active {
    color: #333;
    background-color: #e7e7e7;
}

.nav-notes {
    background-color: #595;
}

.nav-home {
    background-color: #955;
}

.home {
    padding: 20px;
}
